.checkboxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 190px;
  
  &__item {
    margin-bottom: 15px;
    max-width: 210px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    color: #000000;
    
    label {
      cursor: pointer;

      &:hover {
        .jq-checkbox { 
          background-color: #becfff;
        }
      }
    }
  }
}

.jq-checkbox {
  vertical-align: -4px;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  border: 1px solid $color-chambray;
  border-radius: 3px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;

  &.checked {
    background-color: $color-chambray;

    .jq-checkbox__div {
      position: absolute;
      top: 4px;
      left: 2px;
      width: 13px;
      height: 9px;
      background-image: url("../img/icons/check.png");
    }
  }

  &.focused {
    background-color: $color-chambray;
  }
}