.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 31px 0 29px;
  border-bottom: 1px solid $color-alto;
  background-color: #ffffff;
}

.burger {
  display: none;
}

.menu {
  &__list {
    padding-left: 133px;
  }

  &__item {
    display: inline-block;
  
    &:not(:last-child) {
      margin-right: 75px;
    }
  }

  &__link {
    font-size: 14px;
    color: $color-chambray;
    font-weight: 400;

    &--active {
      color: $color-main;
    }

    &:hover {
      color: $color-main;
    }
  }
}