@import "../mixins";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 31px 0 29px;
  border-bottom: 1px solid $color-alto;
  background-color: #ffffff;

  @include small-tablet {
    border-bottom: none;
    background-color: transparent;
  }
}

.burger {
  display: none;
  position: relative;
  width: 28px;
  height: 24px;
  font-size: 0;
  transition: all 0.3s ease-in-out;
  border-top: 4px solid;
  border-bottom: 4px solid;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
  }

  &.active {
    border-color: transparent;

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @include small-tablet {
    display: block;
  }
}

.menu {
  &__list {
    text-align: center;

    @include small-tablet {
      display: none;
      position: absolute;
      z-index: 2;
      top: 60px;
      left: 0;
      right: 0;
      width: 100%;
      border-top: 1px solid $color-alto;
      background-color: #ffffff;
    }
  }

  &__item {
    display: inline-block;

    @include small-tablet {
      display: block;
      border-bottom: 1px solid $color-alto;
    }
  
    &:not(:last-child) {
      margin-right: 70px;

      @include small-tablet {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-size: 14px;
    color: $color-chambray;
    font-weight: 400;

    @include small-tablet {
      display: block;
      padding: 10px 0;
    }

    &--active {
      color: $color-main;
    }

    &:hover {
      color: $color-main;
    }
  }
}

@media (min-width: 769px){
  .menu__list {
    display: block !important;
  }
}