<header class="header">
  <div class="container">
    <nav class="menu">
      <button class="burger" type="button">Меню</button>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link menu__link--active" href="#personal">
            Личная информация
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#experience">
            Опыт
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#javascript">
            JavaScript
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about">
            О себе
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>